*.pth
*.gguf
/llama-2-7b
/llama-2-13b
/llama-2-70b
/llama*
*.chk
*.model
/LICENSE
/USE_POLICY.md
/hf
/reports
*.out

# models
/models
/Meta-Llama-3-8B-Instruct
/Llama-3.1-8B-Instruct
/DeepSeek-R1-Distill-Llama-8B

# datasets
/dataset/*
*.pyc
*.log
/server_scripts/test.ipynb
